$start-spot:1em;
$end-spot:0;
@keyframes tt-popup {
	0% {
		display:none;
		opacity:0;
		transform:translateX(-50%) translateY($start-spot);
	}
	1% {
		display:block;
		opacity:0;
		transform:translateX(-50%) translateY($start-spot);
	}
	100% {
		display:block;
		opacity:1;
		transform:translateX(-50%) translateY($end-spot);
	}
}